// UTILITIES
@use "./utilities/extend";
@use "./utilities/mixins";
@use "./utilities/variables";

// BASE
@use "./partials/base/reset";
@use "./partials/base/tipografia";

// COMPONENTS
@use "./components/cards";
@use "./components/footer";
@use "./components/general";
@use "./components/header";

 

