$font-principal: "Montserrat", sans-serif;

$color-fondo: #fdfaf6;
$color-principal: #4a3b2a;
$color-secundario: #7b4b26;
$color-terciario: #5f4842;
$color-parrafo: #af8d86;

$color-nav-footer: #e4c59e;

$radius: 10px;

$max-main: 900px;
$max-galeria: 1100px;


