footer {
  background-color: #5f4842;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: #4a3b2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .footer-p { 
    font-size: 12px;
}

