footer {
  background-color: $color-terciario;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  color: $color-principal;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .footer-p { 
    font-size: 12px;
}

