@use "../utilities/variables";

.galeria-container{
  max-width: 1100px;
  margin: 40px;
  padding: 0 20px;
}
.galeria-container h2{
  text-align: center;
  color: #7b4b26;
  margin-bottom: 30px;
}

.galeria-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.galeria-grid img{
  width: 100%;
  height: 220px;
  border-radius: 10px; 
  object-fit: cover; 
} 

