@use "../utilities/mixins";
@use "../utilities/variables";

body {
  background-color: variables.$color-fondo;
  color: variables.$color-principal;
}

main {
  max-width: variables.$max-main;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 56px;
  margin: 10px;
  color: variables.$color-principal;
}

h2 {
  font-size: 24px;
  padding: 16px;
  color: variables.$color-secundario;
}

h3 {
  font-size: 24px;
  padding: 16px;
  color: variables.$color-terciario;
}

p {
  font-size: 16px;
  color: variables.$color-parrafo;
}

li {
  font-size: 16px;
  color: variables.$color-secundario;
}

.li-lista {
  list-style: none;
  text-decoration: none;
}

.p-italico {
  font-style: italic;
  font-weight: 800;
}

.menu-item {
  font-style: italic
}

/* IMÁGENES */
.img-principal {
  @include mixins.img-responsive(600px);
  margin: 25px auto;
}

.ilustracion-mapa img {
  @include mixins.img-responsive(400px);
  margin: 20px auto;
  border-radius: variables.$radius;
}